#head{
  color: black;
}


#title{
  width: 50%;
  border: 3px solid hsl(150, 100%, 80%);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  margin: auto;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.main-body{
  width: 50%;
  margin: auto;
}
img{
  width: 50px;
}
body{
  background-image: url(  "https://wallpapercave.com/wp/P8iErUQ.jpg");
}
